.message{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 40px;
}

.midashi{
	font-family: 'Padauk', sans-serif;
	font-size: 60px;
}

.v_name{
	font-family: 'Padauk', sans-serif;
	font-size: 25px;
}

